<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="libMiracle.Properties.Settings.miraclehunConnectionString" connectionString="server=db4free.net;User Id=miraclehun;password=MIracLE;Persist Security Info=True;database=miraclehun" providerName="MySql.Data.MySqlClient" />
    <add name="MiracleEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=db4free.net;User Id=miraclehun;password=MIracLE;Persist Security Info=True;database=miraclehun&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>